/* styles.css */

/*fonts used: Rubik for header Poppins for Body*/
.rubik-<uniquifier > {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*background for webpage*/
body {
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
/*contains header and nav bar*/
#head {
    background-color: #4CAF50;
    color: white;
    padding: 40px;
    margin-left: -10px;
    margin-right: -10px;
    outline: 5px solid black;
}
header {
    font-size: 70px;
    font-family: Rubik;
    color: black;
    text-align: center;
    width: 10%;
    margin: auto;
    text-decoration: underline solid black;
}
/*h1 paragraph styled*/
h1 {
    text-align: center;
}
/*nav bar*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: -45px;
    width: 30%;
}
/*display navbar in line*/
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav {
  display: inline;
  margin-top: 0;
}
/*navbar link text*/
nav ul li a {
  color: white;
  text-decoration: solid underline;
  font-family: Poppins;
  margin-top: 0;
  font-size: 20px;
}
/*input form*/
form {
    padding-top: 20px;
}
main {
  padding: 20px;
}

/*both of these (input and .box) are for vertebra inputs */
input[type="number"] {
    padding: 10px;
    margin-left: 20px;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 200px;
    outline: solid 2.5px;
    border-radius: 10px;
}
.box {
    display: inline-flex;
    padding: 50px;
    width: 25%;
}
/*class on index.html*/
.open {
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 10px;
    outline: solid 2.5px black;
    padding: 20px;
}
/*odd even alternating colors for inputs on index.html*/
.box:nth-child(odd) {
    background-color: rgba(211, 211, 211, 1);
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    outline: solid 2.5px black;
}
.box:nth-child(even) {
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(144, 238, 144, 1);
    outline: solid 2.5px black;
}
/*drop down selction menu*/
.option {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 25px;
    outline: solid 2.5px black;
    margin-top:10px;

}

/*reset and submit button */
button {
  margin-top: 10px;
  padding: 20px 30px;
  background-color: #4CAF50;
  color: white;
  border-radius: 25px;
  border: 2.5px solid black;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50%;
  margin-right: 50%;
}

button:hover {
  background-color: #45a049;
}

#results-placeholder {
  border: 1px solid #ccc;
  padding: 50px;
  background-color: #fff;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 8px;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-top: -50px;
}

/*image gallery on about.html page*/
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    object-fit: contain;
}

div.scroll-container img {
    padding: 10px;
    width:25%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
    background-color: black;
    padding: 10px;
    margin: 20px;
}
#expandedImg {
    width: 50%;
}
/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}